body {
    font-family: 'Montserrat-ExtraBold';
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat-ExtraBold", sans-serif;
}

/* Headings */
.big-heading {
    font-weight:900;
    font-size: 3rem;
    line-height: 1.5;
    text-shadow: black 1px 1px;
}

.section-heading {
    font-size: 3rem;
    line-height:1.5;
}


a {
    font-family:'Ubuntu', sans-serif;
    font-weight:600;
    text-shadow: black 1px 1px;
}

/* Container */
.container-fluid {
    padding: 7% 15%;
}

/* Sections */
.colored-section {
    background-color: #ff4c68;
    color: #fff;
}

.white-section {
    background-color: #fff;
}

/* Title and Features positioning */

#title {
    text-align: left;
}

#features {
    position: relative;
    z-index:2;
}




/* Title image */
#title-img {
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    z-index: 1;
    right: 20%;
}
/* Navigation bar */

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-size: 2rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-item {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;

}

/* Download buttons */
.dl-btn {
    margin-right: 10px;
}


/* Features */
#features {
    padding: 10% 10%;
}

.features-item {
    padding: 0 5%;
}

.feature-icon {
    color: #ef8172;
    padding: 0 0 20px 0;
}

.feature-icon:hover {
    color: #ff4c68;
}

.features-item > p {
    color: #8f8f8f;
    font-size: 0.8rem;
}

.feature-title {
    font-weight:600;
    font-size: 1.5rem;
}

/* Testimonials */
#testimonials {
    background-color: #ef8172;

}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
    text-shadow: black 1px 1px;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    padding: 0 10px 0 0;
}

#press {
    
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
    padding: 100px;
}

.pricing-column {
    padding: 3% 2%;
}

.pricing-text {
    font-size: 3rem;
    line-height: 1.5;
    text-shadow: black 1px 1px;
}

/* Media Queries */

@media (max-width: 1028px) {
    #title-img {
        position: static;
        width:50%;
        transform: rotate(0);
    }

    #title {
        text-align: center;
    }
}

/* Call to Action */

#cta h3 {

    font-weight: 900;
    font-size: 2.5rem;
}

.dl-buttons {
    padding-top: 40px;
}

/* footer */
#footer {
    padding: 7% 15% 0 15%;
}

#copy-right {
    color: grey;

}

.footer-icon {
    margin: 20px 10px;
}