h1 {
    font-family:'Montserrat-ExtraBold', sans-serif;
    font-weight:900;
    font-size: 3rem;
    line-height: 1.5;
    text-shadow: black 1px 1px;
}

h2 {
    font-family: "Montserrat-ExtraBold", sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    text-shadow: black 1px 1px;
}

body {
    font-family: 'Montserrat-ExtraBold';
}

a {
    font-family:'Ubuntu', sans-serif;
    font-weight:600;
    text-shadow: black 1px 1px;

}

.container-fluid {
    padding: 3% 15%;
}

#title {
    background-color: #ff4c68;
    color: #fff;
}


/* Navigation bar */

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-size: 2rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-item {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;

}

/* Download buttons */
.dl-btn {
    margin-right: 10px;
}

/* Title image */
#title-img {
    width: 60%;
    transform: rotate(15deg);
}

/* Features */
#features {
    padding: 10% 10%;
}

.features-item {
    text-align: center;
    padding: 0 5%;
}

.feature-icon {
    color: #ef8172;
    padding: 0 0 20px 0;
}

.feature-icon:hover {
    color: #ff4c68;
}

.features-item > h3 {
    font-family:'Montserrat-ExtraBold', sans-serif;
    font-weight:600;
    font-size: 1.5rem;
}

.features-item > p {
    color: #8f8f8f;
    font-size: 0.8rem;
}

/* Testimonials */
#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;

}

.carousel-item {
    padding: 7% 15%;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    padding: 0 10px 0 0;
}

#press {
    background-color: #ef8172;
    text-align: center;
    
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
    text-align: center;
}